# 数据库连接配置
DB_CLIENT=mysql2
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# 数据库连接池配置
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_POOL_ACQUIRE_TIMEOUT=30000
DB_POOL_IDLE_TIMEOUT=60000

# 定义数据表的前缀
DB_TABLE_PREFIX=shuttle_claw_

# API 密钥
PASS_API_KEY=123456

# 加密配置
JWT_SECRET=JWT_SECRET

# 服务器配置
PORT=3010
